.contact {
  padding: 10vw;
  background: #000;
  color: white;
  width: 100%;
  overflow: hidden;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: var(--space-4);
}

.title span {
  color: #666;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-4);
}

.info h3 {
  color: #666;
  margin-bottom: var(--space-2);
}

.info p {
  line-height: 1.6;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  
  .info {
    grid-template-columns: 1fr;
  }

  .contact {
    padding: 2rem;
  }
} 

.scrollToTop {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
  margin-bottom: var(--space-4);
}

.scrollToTop:hover {
  background-color: #888; /* 호버 시 배경색 변경 */
} 

.footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin: 0;
  text-align: center;
} 